<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>生命周期</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <button id='btn'>销毁</button>
    {{msg}}
    <input type="text" v-model="msg">
    <ul>
      <li v-for="item in arr">
        {{item}}
      </li>
    </ul>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data:{
        msg:'hello',
        arr:['lisi','wangwu','zhaoliu']
      },
      beforeCreate(){
        alert('beforeCreate-->' + this +'-->'+ this.msg)
      },
      created(){
        alert('created-->' + this.msg + '-->' + this.$el);
      },
      beforeMount(){
        alert('beforeMount-->' + this.$el);
      },
      mounted(){
        this.$nextTick(function(){
          alert('mounted-->' + this.msg)
          this.msg="fdf"
        })
      },
      // beforeUpdate(){
      //   alert('beforeUpdate-->' + this.msg)
      // },
      // updated(){
      //   alert('updated-->' + this.msg)
      // },
      beforeDestroy(){
        alert('beforeDestroy-->' + this.msg)
      },
      destroyed(){
        alert('destroyed-->' + this.msg)
      }
    })

    document.getElementById("btn").onclick=function(){
      vm.$destroy();
    }
  </script>
</body>
</html>