<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<!--v-text/v-html/v-model/v-once-->
		<div v-text="msg"></div>
		<div v-html="msg" v-once></div>
		<input type="text" v-model="msg">

		<!--v-bind-->
		<div class="div1"></div>
		<div v-bind:class="msg"></div>
		<div :class="{footer:show}"></div>

		<!--v-if/v-show-->
		<div v-if=false>{{msg}}</div>

		<!--v-for-->
		<ul>
			<li v-for="item in json">
				{{item.name}}
			</li>
		</ul>

		<!--v-if/v-else/v-else-if-->
		<div v-if=false>
			v-if内容
		</div>
		<div v-else>
			v-else内容
		</div>

		<!--v-pre-->
		<div v-pre>{{show}}</div>

		<!--v-cloak-->
		<div v-cloak>{{show}}</div>
		
	</div>
	<script>

		// 实例
		var vm = new Vue({
			//el:'#app',
			data:{
				msg: '<i>Hello Vue</i>',
				json: [
					{
						name: 'lisi',
						age: 22
					},
					{
						name: 'wangwu',
						age: 25
					}
				],
				show: true
			},
		}).$mount('#app')
		
	</script>
</body>
</html>